@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Albus";
  src: url("../fonts/Albus.ttf");
}

@font-face {
  font-family: "Gotham-Book";
  src: url("../fonts/Gotham-Book.otf");
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("../fonts/Gotham-Bold.ttf");
}

@font-face {
  font-family: "GE-SS-Text-Bold";
  src: url("../fonts/GE SS Text Bold.otf");
}

@font-face {
  font-family: "GE-SS-Text-Light";
  src: url("../fonts/GE SS Text Light.otf");
}

@font-face {
  font-family: "GE-SS-Text-Medium";
  src: url("../fonts/GE SS Text Medium.otf");
}

@font-face {
  font-family: "Zain-Black";
  src: url("../fonts/Zain-Black.ttf");
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
}

@layer base {
  
  body {
    @apply bg-slate-100;
  }

  .hero {
   
    background-image: url("../public/bg_hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
  }

  
}
